* {
    margin: 0;
    padding: 0;
}

a:hover, button:hover, li:hover{
    cursor: pointer;
    transition: all 0.5s ease-out;
    transform: scale(1.1);
    color: black;
}

/* INÍCIO NAVBAR */

.navBar {
    background-image:  linear-gradient(#f7f7c9, #89899a);
    width: 100%;
    height: 10vh;
    margin: auto;
}

.navBar img {
    float: left;
    height: 150%;
    padding-left: 2%;
    padding-top: 0.125%;
}

.navBar ul {
    font-size: 1em;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-top: 1.5%;
    padding-left: 70%;
}

.navBar ul li {
    display: inline-block;
    color: white;
}

.navBar a {
    text-decoration: none;
    color: white;
}

.navBarSelected {
    color: green
}

.botaoNavBar {
    background: none;
    color: white;
    border-width: 0px;
    font-size: 1em;
    display: none;
}

.botaoNavBar:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* FIM NAVBAR */

/* INÍCIO BODY */

.body {
    background-color: #1e1e28;
    height: fit-content;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

/* INÍCIO BANNER */

.banner {
    background-image: url(./Imagens/index/Mamaco\ fumante\ jogando\ xadrez\ -\ Image\ by\ Reinhold\ Silbermann\ from\ Pixabay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.banner h1, .bannerAberturas h1 {
    font-size: 5em;
}

.textosBanner {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f7f7c9;
    padding-top: 20%;
}

/* FIM BANNER */

/* INÍCIO SOBRE */

.container, .sobre {
    width: 80%;
    margin: auto;
    background-color: #bfbf93;
    /*Ou #d0d08a*/
}

.titulosSobre {
    font-size: 50px;
    text-align: center;
}

.subTitulos {
    text-align: center;
    margin-bottom: 1%;
}

.textosSobre {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #1e1e28;
    font-size: 25px;
}

.imgTabuleiros {
    height: 50vh;
    margin-top: 3%;
}

.figurasSobre {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    height: fit-content;
    margin-bottom: 1%;
}

.figcaptionPeao {
    width: 40vh;
}

.figcaptionPeca {
    width: 50vh;
}

.containerPecas {
    width: 50vh;
    margin: auto;
    margin-top: 3%;
}

.imgMovPeao {
    height: 40vh;
}

.peca {
    display: flex;
    justify-content: center;
}

.gif, .imgMovPecas {
    height: 50vh;
    width: 50vh;
}

.imgMovPecas {
    margin-right: 5vw;
}

/* FIM SOBRE */

/*Início Aberturas*/

.bannerAberturas {
    background-image: url(./Imagens/Aberturas/Banner\ Gambito\ da\ Rainha.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px black;
}

.comentarios {
    background-color: rgb(200, 200, 200);
    height: fit-content;
    width: 100%;
    margin-top: 10%;
}

.formComentarioNovo {
    height: 80%;
    padding-top: 3%;
    overflow: hidden;
    background-color: #aba7a7db;
}

.inputNewComment {
    height: 10vh;
    width: 95%;
    margin-left: 2%;
    padding-bottom: 1%;
    resize: none;
}

.formComentarioNovo button {
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.boxComentario {
    height: 10%;
    width: 100%;
    padding-top: 3%;
    background-color: #aba7a7db;
    float: left;
}

.nomeComentario {
    /* position: relative;
    bottom: 25px; */
    margin-left: 1%;
    float: left;
}

.textoComentario {
    height: fit-content;
    width: 92%;
    float: right;
    margin-right: 3%;
    margin-left: 5%;
    background-color: rgb(200, 200, 200);
    /* position: relative; */
    /* bottom: 15px; */
    overflow: hidden;
}

.tituloFIDE {
    background-color: red;
    color: white;
    padding: 1px;
    text-align: center;
}

/*Fim Aberturas*/

/*Início Login*/

.bodyLogin {
    background-color: #1e1e28;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-image: url(./Imagens/Login/pecasBonitas.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLogin {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 5%;
    text-align: center;
    overflow: hidden;
}

.conteudoLogin {
    background-color: rgba(245, 222, 179, 0.678);
    height: fit-content;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    border-radius: 15px;
}

#form_login {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    padding-top: 1%;
}

.inputLongo {
    height: 30px;
    width: 90%;
    font-size: 25px;
    margin-bottom: 5%;
}

.divComInputs {
    text-align: left;
    width: 100%;
    margin-left: 5%;
    margin-right: auto;
}

.botEntrar {
    text-align: center;
    border-radius: 15px;
    width: 20%;
    height: 5vh;
    margin-bottom: 5%;
}

/*Fim Login*/

/*Início Cadastro*/

.conteudoCadastro {
    background-color: rgba(245, 222, 179, 0.678);
    height: fit-content;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    display: inline-block;
}

#form_cadastro {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

.inputLongoCadastro {
    height: 30px;
    width: 90%;
    font-size: 25px;
    margin-bottom: 3%;
}

.divInputsCurtos {
    display: inline-block;
    width: 95%;
}

.divInputsCurtos label {
    width: 100%;
}

.inputCurto {
    width: 110%;
    height: 20px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5%;
}

.inpEsq {
    float: left;
    width: 15vw;
    text-align: left;
    padding-left: 3%;
}

.inpDir {
    float: right;
    text-align: left;
    margin-right: 35px;
}

/*Fim Cadastro*/

/*Início Rankings*/

.bannerRankings {
    background-color: #1e1e28;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-image: url(./Imagens/Rankings/banner\ Torneio\ Aberto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerRankings {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding-top: 5%;
    text-align: center;
    overflow: hidden;
}

.conteudoRankings {
    background-color: rgba(245, 222, 179, 0.678);
    height: fit-content;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    border-radius: 15px;
}

.fotoRanking {
    width: 45vw;
    text-align: center;
}

/*FIM RANKING*/

/*INÍCIO ADMIN*/

.bodyAdmin {
    background-color: #1e1e28;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-image: url(./Imagens/Admin/mainBackgroundAdmin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.escondido {
    display: none;
}