*{
    margin: 0;
    padding: 0;
}
/* INÍCIO NAVBAR */
.navBar{
    background-image: linear-gradient(#f7f7c9, #1e1e28);
    width: 100%;
    height: 10vh;
    margin: auto;
}
.navBar img{
    float: left;
    height: 90%;
    padding-left: 2%;
    padding-top: 0.125%;
}
.navBar ul{
    font-size: 1em;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-top: 1.5%;
    padding-left: 50%;
}
.navBar ul li{
    display: inline-block;
    color: white;

}
/* FIM NAVBAR */
/* INÍCIO BODY */
.body{
    background-color: #1e1e28;
    height: fit-content;
    font-family: Helvetica, Arial, sans-serif;
}
/* INÍCIO BANNER */
.banner{
    background-image: url(./Imagens/Mamaco\ fumante\ jogando\ xadrez\ -\ Image\ by\ Reinhold\ Silbermann\ from\ Pixabay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}
.banner h1{
    font-size: 5em;
}
.textosBanner{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f7f7c9;
    padding-top: 20%;
}
/* FIM BANNER */
/* INÍCIO SOBRE */
.container, .sobre{
    width: 80%;
    margin: auto;
    background-color: #f7f7c9;
}
.titulosSobre{
    font-size: 72px;
    text-align: center;
}
.textosSobre{
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #1e1e28;
    padding-top: 5vh;
    font-size: 35px;
}
.figurasSobre{
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
}
.tabuleiros{
    height: 30vh;
}
/* FIM SOBRE */